{% extends 'pages/base.html' %}

{% block title %}Remove Inventory{% endblock %}

{% block content %}
    <h1 class="mt-4">Remove Inventory</h1>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Remove Item</button>
    </form>
    <a href="{% url 'remove_base_item' %}" class="btn btn-secondary mt-4">Remove Base Item</a>
    <a href="{% url 'remove_location' %}" class="btn btn-secondary mt-4">Remove Location</a>
    <a href="{% url 'index' %}" class="btn btn-secondary mt-4">Back to Inventory</a>
{% endblock %}

