

{% block title %}Your Cart{% endblock %}

{% block content %}


<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to Cart</button>
</form>

{% if cart %}
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for product_id, quantity in cart.items %}
        <tr>
            <td>{{ product_id }}</td>
            <td>{{ quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}
