{% extends 'core/base.html' %}

{% block title %}Checkout Cart{% endblock %}

{% block content %}
    {% if messages %}
        <div class="alert alert-info mt-2">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="GET" action="{% url 'index' %}" class="mt-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search for an item" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    {% include 'checkout/cart.html' %}
{% endblock %}
