{% extends 'pages/base.html' %}

{% block title %}Inventory System{% endblock %}

{% block content %}
    <h1 class="mt-4">Inventory System</h1>
    {% if messages %}
        <div class="alert alert-info mt-2">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <a href="{% url 'add_inventory' %}" class="btn btn-primary mt-4">Add Inventory</a>

    <!-- {% if perms.inventory.manage_base_items %} -->
    <a href="{% url 'manage_base_items_locations' %}" class="btn btn-secondary mt-4">Base Items/Locations</a>
    <!-- {% endif %} -->

    <form method="GET" action="{% url 'index' %}" class="mt-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search for an item" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <h2 class="mt-4">Current Inventory</h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Location</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_items %}
                <tr>
                    <td>{{ item.base_item.name }}</td>
                    <td>{{ item.location.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a href="{% url 'edit_inventory' item.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
