<!DOCTYPE html>
<html>
    <head>
        <title>Checkout Successful</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/checkout/bootstrap.css' %}">
        <script>
            function returnToCheckout(){

                //Clears the Previous Session
                 sessionStorage.clear();
                location.href="{% url 'checkout:index' %}"
            }
            //style="background-color: rgba(113, 217, 243,.6); margin: 8px;border-radius: 8px;
        </script>

    </head>
    <body class ="body">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <h1 >
                    Checkout Complete!
                </h1>
            </div>
          </nav>
        <div>
            <h1 style = "text-align: center;margin-top: 10px;">
                Your Checkout Was Successful!
            </h1>
            <p style="font-size: 150%;text-align: center;">
                To Start Another Checkout Press The Button Below
            </p>
            <div style="display: flex;justify-content: center;align-items: center;">
                <button type="button" onclick="returnToCheckout()" class = "btn btn-primary">
                    New Checkout
                </button>
            </div>

        </div>
        <div>
            <div class="checkoutList-Background">
                <p style="font-size: 150%;margin: 10px;padding: 0px;font-weight: 900;text-align: center;">
                    The Completed Checkout List!
                </p>
                <p id = "itemListCheckout" style = "align-items: center;">
                </p>
            </div>
        </div>



    </body>

    <script>

        var itemListCheckout = document.getElementById("itemListCheckout")

        var quantity = JSON.parse(sessionStorage.getItem("items"))

        if(Object.keys(quantity).length > 0){

            var itemListCheckout = document.getElementById("itemListCheckout");

            for(let key in quantity){
                var p = document.createElement("p")
                p.innerText = key + " [" + quantity[key] + "x]";
                p.id = key;
                p.style.textAlign = "center"
                itemListCheckout.appendChild(p);
            }

        }else{
            itemListCheckout.innerText = "List is Empty!"
            itemListCheckout.style.textAlign = "center"
        }

    </script>

</html>
