<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        
        <title>User Checkout test</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/checkout/checkoutstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/checkout/bootstrap.css' %}">
        <script src="{%static '/javascript/jquery-3.7.1.min.js'  %}"></script>
        <script>

            var base_item_data = JSON.parse('{{base_item_data|escapejs}}');
            // items will hold the text
            var items = [];
            // this will hold the barcodes relative to the item. if done correctly
            // the order shoud probably not matter
            var itemsbarcode = [];
            var quantity = {};

            var itemToEdit = ""

            // Function to ask if they want finish checking out or not
            function checkIfFinishCheckout(){
                var modal_check_container = document.getElementById("modal_check_container");
                modal_check_container.classList.toggle("show");
            }
            //Finish the Checkout Process and head over to the check out complete page
            /*
            function finishCheckout(){
                sessionStorage.setItem("items",JSON.stringify(quantity));
                location.href="{% url 'checkout:checkoutComplete' %}"
            }
            */
            //
            function notFinishCheckout(){

                var modal_check_container = document.getElementById("modal_check_container");
                var close = document.getElementById("close");
                var show = document.getElementById("show");

                modal_check_container.classList.toggle("show");

            }

            function displayItems() {

                var inputElement = document.getElementById("inputText");
                var found = false

                items.forEach(function(text) {

                    if (inputElement.value == text){
                        found = true
                    }
                });
                if (found == false && inputElement != ""){
                    items.push(inputElement.value);
                }
                displayStoredItems();
                inputElement.value = "";
            }

            function incrementItem(p,item) {
                var displayElement = document.getElementById("displayItems");
                var inputElement = document.getElementById("inputText");
                //inputElement.innerText = quantity[item];

                quantity[item] =  (parseInt(quantity[item]) + 1).toString();
                p.innerText = item + " " + "[" + quantity[item] + "x]"
                displayElement.appendChild(p)
            }

            function editItem(displayElement,p,item){
                var modal_container = document.getElementById("modal_container");
                var EditSpecificItem = document.getElementById("EditSpecificItem");
                var amountText = document.getElementById("amountText");
                var inputAmount = document.getElementById("inputAmount");

                modal_container.classList.toggle("show");
                //console.log(item);
                itemToEdit = item;
                EditSpecificItem.innerText = "Edit Item " + itemToEdit;
                amountText.innerText = "Amount: " + quantity[itemToEdit];

            }

            function closeEdit(){
                var modal_container = document.getElementById("modal_container");
                var close = document.getElementById("close");
                var show = document.getElementById("show");

                modal_container.classList.toggle("show");
            }

            function addAmount(){
                var inputAmount = document.getElementById("inputAmount");
                var addAmount = document.getElementById("addAmount");
                var amountText = document.getElementById("amountText");

                var currentItem = document.getElementById(itemToEdit);

                if (!isNaN(parseInt(inputAmount.value))){
                    quantity[itemToEdit] = (parseInt(quantity[itemToEdit]) + parseInt(inputAmount.value)).toString();
                }

                currentItem.innerText = itemToEdit + " " + "[" + quantity[itemToEdit] + "x]"
                inputAmount.value = "";
                amountText.innerText =  "Amount: " + quantity[itemToEdit];
            }

            function removeAmount(){
                var inputAmount = document.getElementById("inputAmount");
                var addAmount = document.getElementById("removeAmount");
                var amountText = document.getElementById("amountText");
                var currentItem = document.getElementById(itemToEdit);

                if (!isNaN(parseInt(inputAmount.value))){

                    if((parseInt(quantity[itemToEdit]) - parseInt(inputAmount.value)) < 0){
                        quantity[itemToEdit] = '0';
                    }else{
                        quantity[itemToEdit] = (parseInt(quantity[itemToEdit]) - parseInt(inputAmount.value)).toString();
                    }
                    currentItem.innerText = itemToEdit + " " + "[" + quantity[itemToEdit] + "x]"
                }
                inputAmount.value = "";
                amountText.innerText =  "Amount: " + quantity[itemToEdit];

            }

            function finishCheckout(){
                sessionStorage.setItem("items",JSON.stringify(quantity));
                var quantityinput = document.getElementById("quantityinput");
               
                var quantityJSON = JSON.stringify(quantity);

                quantityinput.value = quantityJSON
                console.log(document.getElementById('quantityForm'));
                document.getElementById("quantityForm").submit();
                
            }

            function displayStoredItems() {
                var displayElement = document.getElementById("displayItems");
                var inputElement = document.getElementById("inputText");

                //ks81

                items.forEach(function(text) {
                    console.log(text)
                    var p = document.createElement("p");

                    for(let key in base_item_data){
                        //console.log(base_item_data[key]["fields"]["barcode_number"])
                      if((base_item_data[key]["fields"]["barcode_number"]).toString() == text){
                        console.log("true")
                            if(inputElement.value == (base_item_data[key]["fields"]["barcode_number"]).toString()){

                                if(document.getElementById(base_item_data[key]["fields"]["name"])){
                                    incrementItem(document.getElementById(base_item_data[key]["fields"]["name"]),base_item_data[key]["fields"]["name"]);
                                    console.log("Check1")
                                }else{
                                    console.log("Check2");
                                    quantity[base_item_data[key]["fields"]["name"]] = 1;
                                    p.innerText = base_item_data[key]["fields"]["name"];
                                    p.id = base_item_data[key]["fields"]["name"]
                                    p.innerText = base_item_data[key]["fields"]["name"];
                                    p.onclick = function(){editItem(displayElement,p,base_item_data[key]["fields"]["name"])};
                                    displayElement.appendChild(p);
                                }
                            }
                        }
                    }
                });
            }


           /* function completeCheckout(){
                //location.href = "https://engineering.rowan.edu/faculty_staff/listing/robi-polikar.html";
                //location.href = "http://127.0.0.1:8000/checkout/checkoutComplete/";
                location.href="{% url 'checkout:checkoutComplete' %}"
            }
            */

        </script>

    </head>
    <body class = "body">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <h1>
                    SHOP Checkout
                </h1>
            </div>
          </nav>
        <div class="top-half" style="display: flex;justify-content: center;align-items: center;">
            <div class="card border-primary mb-3" style = "width: 99.5%;height: 96%;margin-top: 16px;">
                <div class="card-header">Shop Checkout</div>
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center;">Instructions</h4>
                  <p class="card-text"> First locate the barcode of the desired item. 
                    Then scan the barcode with the barcode scanner. 
                    Then the item should appear on the right side of the screen.
                    If you want to edit the amount of the items you then click on the item on the screen to edit the amount.
                </p>
                </div>
            </div>
        </div>

        <div class="bottom-half" style="text-align: center;">
            <div class="card border-primary mb-3" style = "width: 99.5%;height: 96%;margin-top: 16px;">
                <div class="card-header">Barcode Scanner</div>
                <div class="card-body">
                    <div style ="margin: 20px">
                        <input type ="text" id="inputText" placeholder = "Tap and Scan Barcode" style="height: 50px;width: 200px;text-align: center;">
                        <button type = "button" class = "btn btn-primary" onclick="displayItems()"  style="height: 50px;width: 75px; margin-left: 10px;font-size: 100%;">
                            Enter
                        </button style="height: 50px;width: 50px;">
                    </div>
                    <button type = "button" class = "btn btn-primary" onclick="checkIfFinishCheckout()">
                        Finish Checkout
                    </button>
                </div>
            </div>
            <div class="card border-primary mb-3" style = "width: 99.5%;height: 96%;margin-top: 16px;">
                <div class="card-header">Items</div>
                <div class="card-body">
                    <p>
                        <span id="displayItems"></span>
                    </p>
                </div>
            </div>

        </div>

        <div class = "modal-container" id = "modal_container" style="justify-content: center; align-items: center;" >
            <div class = "modal">
                <h1 id = "EditSpecificItem">
                    Edit Item
                </h1>
                <p id = "addAmount" style="background-color: rgb(45, 202, 97); text-align: center;width: 300px; margin: auto; margin-top: 10px; margin-bottom: 10px;font-size: x-large;border-radius: 5px;"onclick = "addAmount()">
                    Add Amount

                </p>
                <p style ="background-color: rgb(255, 74, 74); text-align: center;width: 300px; margin: auto; margin-top: 10px; margin-bottom: 10px;font-size: x-large; border-radius: 5px;"onclick = "removeAmount()">
                    Remove Amount
                </p>
                <div>
                    <h1 id="amountText">
                        Amount:
                    </h1>
                    <input type ="text" id="inputAmount" placeholder = "Enter Amount" style="height: 50px;width: 50%; margin-bottom: 10px; "
                    >
                </div>

                <button id = "close" onclick = "closeEdit()" >
                    Exit
                </button>

            </div>
        </div>

        <div class = "modal-check-container" id = "modal_check_container" style="justify-content: center; align-items: center;" >
            <div class = "modal-check">
                <h1>
                    Finished Checking Out?
                </h1>

                <form action="" method="post" id = "quantityForm">
                    {% csrf_token %}
                    {{form}}
                    <input type ="hidden" id = "quantityinput" name ="quantity_JSON">
                    
                        <p class = "finishCheckout" id = "finishCheckout" style="background-color: rgb(45, 202, 97); text-align: center;width: 300px; margin: auto; margin-top: 10px; margin-bottom: 10px;font-size: x-large;border-radius: 5px;"onclick = "finishCheckout()">
                            Finish Checkout
        
                        </p>
                        <p id = "notFinishCheckout "style ="background-color: rgb(255, 74, 74); text-align: center;width: 300px; margin: auto; margin-top: 10px; margin-bottom: 10px;font-size: x-large; border-radius: 5px;"onclick = "notFinishCheckout()">
                            Go Back
                        </p>
                </form>



            </div>
        </div>

    </body>



    <script type ="text/javascript">
        /*
        console.log("test")

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(".finishCheckout").click(function(){
            console.log("Rest")
            var test_barcode_number;
            test_barcode_number = $(this).attr("")
            $.ajax({
                    url: 'removeFromInventory/',
                    type:"PUT",
                    dataType:"json",
                    data : JSON.stringify({items: quantity}),
                    headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie('csrftoken'),  
                    },
                    success: (data) =>{
                        console.log(data);
                    },
                    error: (error) =>{
                        console.log(error)
                    }
                    
                })
        })
                */
    </script>
    </html>
</html>

<!--
    https://www.youtube.com/watch?v=Xg2JUlI3Ydc
    https://www.youtube.com/watch?v=tDqTXipQmBU
    https://stackoverflow.com/questions/21968922/how-to-add-script-to-a-button-in-html-in-same-file
    <button id = "submitbutton" type="button" onclick ="addItemToBackend()">

-->