{% extends 'core/base.html' %}

{% block title %}Manage Base Items and Locations{% endblock %}

{% block content %}
    <h1 class="mt-4">Manage Base Items and Locations</h1>

    <div class="mt-4">
        <h2>Base Items</h2>
        <a href="{% url 'inventory:add_base_item' %}" class="btn btn-primary mt-2">Add Base Item</a>
        <a href="{% url 'inventory:remove_base_item' %}" class="btn btn-danger mt-2">Remove Base Item</a>
    </div>

    <div class="mt-4">
        <h2>Locations</h2>
        <a href="{% url 'inventory:add_location' %}" class="btn btn-primary mt-2">Add Location</a>
        <a href="{% url 'inventory:remove_location' %}" class="btn btn-danger mt-2">Remove Location</a>
    </div>

    <a href="{% url 'inventory:index' %}" class="btn btn-secondary mt-4">Back to Inventory</a>
{% endblock %}
