<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet"  href="{% static '/homepage/bootstrap.css' %}">
  <title>SHOP Checkout</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        Test
      </a>
    </div>
  </nav>
  <h1>Monkey</h1>

Here's the body of the homepage!
</body>
</html>
