<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet"  href="{% static '/homepage/bootstrap.css' %}">
  <title>SHOP Checkout</title>
</head>
  <body class = "body">
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
          <h1>
              Homepage
          </h1>
      </div>
    </nav>
    <div style = "align-items: center;margin-top: 25px;">
      <h1 style="font-weight: bold;text-align: center;">
        Rowan University
      </h1>
      <h1 style="font-weight: 600;text-align: center;">
        The SHOP
      </h1>
    </div>

    <div style = "display: flex;align-content: center;justify-content: center;row-gap: 20px; column-gap: 2em;margin-top: 50px;">
      <div class="card border-primary mb-3" style = "max-width: 20rem;max-height:12rem;" id = "inventoryCard" onclick="toInventoryPage()">
        <div class="card-header">Inventory</div>
        <div class="card-body">
          <p class="card-text"> For the workers it is to view the inventory, create, modify or delete items from the inventory.
          </p>
        </div>
      </div>
      <div class="card border-primary mb-3" style = "max-width: 20rem;max-height:12rem;" id = "checkoutCard" onclick="toCheckoutPage()">
        <div class="card-header">Shop Checkout</div>
        <div class="card-body">
          <p class="card-text"> For students, this is where you will checkout items from The Shop.
          </p>
        </div>
      </div>
    </div>

  </body>

  <script>

    function toCheckoutPage(){
      location.href="{% url 'checkout:index' %}"
    }
    function toInventoryPage(){
      console.log("Enter Inventory URL!")
    }

  </script>
</html>
