{% extends 'core/base.html' %}

{% block title %}Inventory System{% endblock %}

{% block content %}
    <a href="{% url 'inventory:stock_check' %}" class="btn btn-secondary mt-4">Stock Check (Update Quantities)</a>
    <a href="{% url 'inventory:add_item_to_location' %}" class="btn btn-primary mt-4">Add Item(s) to Location</a>

    {% if perms.inventory.add_baseitem %}
    <a href="{% url 'inventory:manage_inventory' %}" class="btn btn-secondary mt-4">Edit Locations</a>
    {% endif %}

    <form method="GET" action="{% url 'inventory:index' %}" class="mt-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search for an item" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <h2 class="mt-4">Current Inventory</h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Variant</th>
                <th scope="col">Location</th>
                <th scope="col">Quantity</th>
                <th scope="col">Barcode</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if inventory_items.count != 0 %}
            {% for item in inventory_items %}
                <tr>
                    <td>{{ item.base_item.name }}</td>
                    <td>{{ item.base_item.variant }}</td>
                    <td>{{ item.location.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>
                        <a href="{% url 'inventory:edit_inventory' item.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            {%endif%}
        </tbody>
    </table>
{% endblock %}
