{% extends 'core/base.html' %}

{% block title %}Inventory System - Stock Check{% endblock %}

{% block content %}

    <tbody>
    {% for location, items in items_in_location.items %}
        <h3 class="mt-4">{{ location.name }}</h3>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Variant</th>
                    <th scope="col">Location</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.base_item.name }}</td>
            <td>{{ item.base_item.variant }}</td>
            <td>{{ item.location.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{% include "inventory/stock_buttons.html" with item=item %}</td>
            {% empty %}
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endfor %}
    <a href="{% url 'inventory:index' %}" class="btn btn-secondary mt-4">Back to Inventory</a>
{% endblock content %}
