{% extends 'core/base.html' %}

{% block title %}Inventory System{% endblock %}

{% block content %}
    <a href="{% url 'inventory:stock_check' %}" class="btn btn-secondary mt-4">Stock Check (Update Quantities)</a>
    <a href="{% url 'inventory:add_item_to_location' %}" class="btn btn-primary mt-4">Add Item(s) to Location</a>

    {% if perms.inventory.add_product %}
    <a href="{% url 'inventory:manage_inventory' %}" class="btn btn-secondary mt-4">Manager Inventory Control</a>
    {% endif %}

    <form method="get" action="{% url 'inventory:index' %}" class="mt-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search for an item" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <h2 class="mt-4">Current Inventory</h2>

    {% if inventory_items.count != 0 %}
        {% regroup inventory_items by location as location_list %}

        {% for location in location_list %}
            <div class="card mt-4">
                <div class="card-header bg-light">
                    <h4>{{ location.grouper.name }}</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Manufacturer</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in location.list %}
                                <tr>
                                    <td>
                                        {{ item.product.name }}
                                        {% if not item.product.active %}
                                            <span class="badge badge-danger badge-pill">Inactive</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ item.product.manufacturer }}</td>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info mt-3">No inventory items found.</div>
    {% endif %}
{% endblock %}
