name: build

on:
  push:
    branches:
      - main
    tags:
      - '*'
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [main]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Test and submit coverage report
        run: |
          docker build -t shop-inventory:master .
          docker run --rm -v $(pwd)/shop_inventory/:/usr/src/shop_inventory shop-inventory:master ./pytest.sh
          pip install coveralls
          cd website && coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
